<div class="view">
  <h3>Water Quality of Selected City</h3>
  <div class="row">

    <div class="col-md-4">
      <form #waterQualityForm="ngForm" (ngSubmit)="onSubmit()" class="mt-4">
        <div class="form-group">
          <label for="city">City</label>
          <select #city="ngModel" [(ngModel)]="chartColumnFilter.city" name="city" id="city" type="text"
            class="form-control">
            <option *ngFor="let city of cityList" [value]="city"> {{city}} </option>
          </select>
        </div>
        <div class="form-group">
          <label for="dateStart">Date Start</label>
          <input #dateStart="ngModel" [(ngModel)]="chartColumnFilter.dateStart" name="dateStart" id="dateStart"
            type="datetime-local" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="dateEnd">Date End</label>
          <input #dateEnd="ngModel" [(ngModel)]="chartColumnFilter.dateEnd" name="dateEnd" id="dateEnd"
            type="datetime-local" class="form-control" required>
        </div>
        <div class="btn-group" role="group">
          <button class="btn btn-success" [disabled]="!waterQualityForm.valid">Filter</button>
          <button class="btn btn-success" (click)="captureScreen()">Save Table</button>
        </div>

        <br><br>
      </form>
    </div>

    <div class="col-md">
      <table class="table table-bordered text-center mt-5 ml-4" id="contentToConvert">
        <thead>
          <tr>
            <th>Sample ID</th>
            <th>Name</th>
            <th>Percentage</th>
            <th>Remark</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let w of waterQualityList; index as i">
            <td>{{i}}</td>
            <td>{{w.name}}</td>
            <td [ngClass]="{'bg-danger': w.percentage <= '50' }">{{ w.percentage | number: '1.2-2' }} % </td>
            <td>{{w.renark}}</td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>
</div>