<div class="view">
  <h3>Pie Chart</h3>
  <div class="row">
    <div class="col-md-3">
      <form #chartFilterForm="ngForm" (ngSubmit)="onSubmit()" class="mt-4">
        <div class="form-group">
          <label for="city">City</label>
          <select #city="ngModel" [(ngModel)]="chartColumnFilter.city" name="city" id="city" type="text"
            class="form-control">
            <option *ngFor="let city of cityList" [value]="city.city"> {{city.city}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="dateStart">Date Start</label>
          <input #dateStart="ngModel" [(ngModel)]="chartColumnFilter.dateStart" name="dateStart" id="dateStart"
            type="datetime-local" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="dateEnd">Date End</label>
          <input #dateEnd="ngModel" [(ngModel)]="chartColumnFilter.dateEnd" name="dateEnd" id="dateEnd"
            type="datetime-local" class="form-control" required>
        </div>
        <button class="btn btn-success" [disabled]="!chartFilterForm.valid">Filter</button>
        <br><br>
      </form>
    </div>

    <div class="col-md">
      <ngx-charts-pie-grid [view]="view" [results]="data">
      </ngx-charts-pie-grid>
    </div>
  </div>
</div>