<div class="login text-center">
  <form #form="ngForm" (ngSubmit)="onSubmit(form.value)" class="form-signin">
    <!-- <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
    <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
    <label for="username" class="sr-only">Username</label>
    <input ngModel name="username" type="text" id="username" class="form-control" placeholder="Username" required
      autofocus>
    <label for="password" class="sr-only">Password</label>
    <input ngModel name="password" type="password" id="password" class="form-control" placeholder="Password" required>
    <!-- <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div> -->
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <a class="btn btn-lg btn-light btn-block" routerLink="/register">Register</a>
    <!-- <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p> -->
  </form>
</div>