<h3>Locations</h3>
<form #locationForm="ngForm" (ngSubmit)="onSubmit()" class="mt-4">

  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="id">Location ID</label>
      <input #id="ngModel" [(ngModel)]="location.id" name="id" id="id" type="text" class="form-control"
        [readonly]="true">
    </div>
  </div>

  <div class="form-group">
    <label for="city">City</label>
    <input #city="ngModel" [(ngModel)]="location.city" name="city" id="city" type="text" class="form-control col-md-9"
      required [readonly]="isReadOnly">
    <div class="invalid-feedback d-block" *ngIf="city.touched && city.invalid"> City is Required </div>
  </div>

  <div class="form-group">
    <label for="name">Sampling Location</label>
    <input #name="ngModel" [(ngModel)]="location.name" name="name" id="name" type="text" class="form-control col-md-9"
      required [readonly]="isReadOnly">
    <div class="invalid-feedback d-block" *ngIf="name.touched && name.invalid"> Sampling Location is Required </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="longitude">Longitude</label>
      <input #longitude="ngModel" [(ngModel)]="location.longitude" name="longitude" id="longitude" type="text"
        class="form-control" required [readonly]="isReadOnly">
      <div class="invalid-feedback d-block" *ngIf="longitude.touched && longitude.invalid"> Longitude is Required </div>
    </div>

    <div class="form-group col-md-3">
      <label for="latitude">Latitude</label>
      <input #latitude="ngModel" [(ngModel)]="location.latitude" name="latitude" id="latitude" type="text"
        class="form-control" required [readonly]="isReadOnly">
      <div class="invalid-feedback d-block" *ngIf="latitude.touched && latitude.invalid"> Latitude is Required </div>
    </div>
  </div>
  <div class="btn-group ml-3" role="group">
    <a routerLink="/supplier" class="btn btn-secondary"> <i class="fa fa-arrow-left"></i>Supplier List </a>
    <button class="btn btn-success" [disabled]="!locationForm.valid || isReadOnly">Save</button>
    <button *ngIf="location.id" type="button" (click)="edit()" class="btn btn-primary">Edit</button>
  </div>

</form>