<div class="view">
  <h3>Water Info</h3>

  <form #waterInfoForm="ngForm" (ngSubmit)="onSubmit()" class="mt-4">

      <div class="form-row">
          <div class="form-group col-md-3">
              <label for="id">ID</label>
              <input #id="ngModel" [(ngModel)]="waterInfo.id" name="id" id="id" type="text" class="form-control"
                  [readonly]="true">
          </div>
          <div class="form-group col-md-3">
              <label for="date">Collected Date</label>
              <input #date="ngModel" [(ngModel)]="waterInfo.date" name="date" id="date" type="text"
                  class="form-control" [readonly]="true">
          </div>
      </div>

      <div class="form-row">
          <div class="form-group">
              <label for="rcl">RCL</label>
              <input #rcl="ngModel" [(ngModel)]="waterInfo.rcl" name="rcl" id="rcl" type="number"
                  class="form-control col-md-9" required [readonly]="isReadOnly">
              <div class="invalid-feedback d-block" *ngIf="rcl.touched && rcl.invalid"> Parameter is Required </div>
          </div>

          <div class="form-group">
              <label for="eColi">E-Coli</label>
              <input #eColi="ngModel" [(ngModel)]="waterInfo.eColi" name="eColi" id="eColi" type="number"
                  class="form-control col-md-9" required [readonly]="isReadOnly">
              <div class="invalid-feedback d-block" *ngIf="eColi.touched && eColi.invalid"> Parameter is Required
              </div>
          </div>

          <div class="form-group">
              <label for="colour">Colour</label>
              <input #colour="ngModel" [(ngModel)]="waterInfo.colour" name="colour" id="colour" type="number"
                  class="form-control col-md-9" required [readonly]="isReadOnly">
              <div class="invalid-feedback d-block" *ngIf="colour.touched && colour.invalid"> Parameter is Required
              </div>
          </div>

      </div>
      <div class="form-row">
          <div class="form-group">
              <label for="turbidity">Turbidity</label>
              <input #turbidity="ngModel" [(ngModel)]="waterInfo.turbidity" name="turbidity" id="turbidity"
                  type="number" class="form-control col-md-9" required [readonly]="isReadOnly">
              <div class="invalid-feedback d-block" *ngIf="turbidity.touched && turbidity.invalid"> Parameter is
                  Required
              </div>
          </div>
          <div class="form-group">
              <label for="pH">pH</label>
              <input #pH="ngModel" [(ngModel)]="waterInfo.pH" name="pH" id="pH" type="number"
                  class="form-control col-md-9" required [readonly]="isReadOnly">
              <div class="invalid-feedback d-block" *ngIf="pH.touched && pH.invalid"> Parameter is Required </div>
          </div>
          <div class="form-group">
              <label for="EC">Electrical Conductivity</label>
              <input #ec="ngModel" [(ngModel)]="waterInfo.ec" name="ec" id="ec" type="number"
                  class="form-control col-md-9" required [readonly]="isReadOnly">
              <div class="invalid-feedback d-block" *ngIf="ec.touched && ec.invalid"> Parameter is Required </div>
          </div>
      </div>

      <div class="form-row">
          <div class="form-group">
              <label for="location">Sampling Location</label>
              <select required #location="ngModel" [(ngModel)]="waterInfo.location" [compareWith]="compareByOptionId"
                  name="location" id="location" class="form-control" [disabled]="isReadOnly">
                  <option *ngFor="let location of locationList" [ngValue]="location"> {{location.city}} -
                      {{location.name}} </option>
              </select>
          </div>
      </div>

      <div class="btn-group ml-3" role="group">
          <button class="btn btn-success" [disabled]="!waterInfoForm.valid || isReadOnly">Save</button>
          <button *ngIf="waterInfo.id" type="button" (click)="edit()" class="btn btn-primary">Edit</button>
      </div>

  </form>
</div>