<div #mapViewNode></div>

<div class="esri-widget" id="history" *ngIf="historyData">

    <h3>Location - {{ location.name }} </h3>
    <div class="form-group col-md-6">
        <label for="parameter">Parameter</label>
        <select name="parameter" id="parameter" class="form-control" [ngModel]="selectedParameter"
            (ngModelChange)="onChangeParameter($event)">
            <option value="pH"> pH (Between 6.5 and 8.5) </option>
            <option value="rcl"> RCL (Less than 1)</option>
            <option value="colour"> Colour (Less than 15)</option>
            <option value="ec"> Electrical Conductivity </option>
            <option value="turbidity"> Turbidity (Less than 2)</option>
        </select>
    </div>

    <ngx-charts-line-chart [view]="view" [results]="historyData" [gradient]="gradient" [xAxis]="showXAxis"
        [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [autoScale]="autoScale" (select)="onSelect($event)">
    </ngx-charts-line-chart>

</div>