<div #mapViewNode></div>

<div class="esri-widget" id="optionsDiv">
    <h2>Water Info Time Line</h2>

    <select class="form-control" id="attSelect">
        <option value="2017">2017</option>
        <option value="2018">2018</option>
        <option value="2019">2019</option>
        <option value="2020">2020</option>
    </select>

    <!-- <select (change)="selectOption($event.target.value)">
        <option [value]="item" *ngFor="let item of years">{{item}}</option>
    </select> -->

    <button class="btn btn-primary" id="doBtn">View</button> <br />
    <p><span id="printResults"></span></p>

</div>