<div class="view">
  <h3>Water Quality by Sampling Location</h3>

  <div class="row">

    <div class="col-md-4">
      <form #chartFilterForm="ngForm" (ngSubmit)="onSubmit()" class="mt-4">

        <div class="form-group">
          <label for="city">City</label>
          <select #city="ngModel" [(ngModel)]="chartColumnFilter.city" name="city" id="city" type="text"
            class="form-control">
            <option *ngFor="let location of locationList" [value]="location.city"> {{location.city}} - {{location.name}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="dateStart">Date Start</label>
          <input #dateStart="ngModel" [(ngModel)]="chartColumnFilter.dateStart" name="dateStart" id="dateStart"
            type="datetime-local" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="dateEnd">Date End</label>
          <input #dateEnd="ngModel" [(ngModel)]="chartColumnFilter.dateEnd" name="dateEnd" id="dateEnd"
            type="datetime-local" class="form-control" required>
        </div>
        <div class="btn-group" role="group">
          <button class="btn btn-success" [disabled]="!chartFilterForm.valid">Filter</button>
          <button class="btn btn-success" (click)="captureScreen()">Save Table</button>
        </div>

        <br><br>
      </form>

    </div>

    <div class="col-md">
      <table class="table table-bordered text-center mt-5 ml-4" id="contentToConvert">
        <thead>
          <tr>
            <th>#</th>
            <th>pH</th>
            <th>colour</th>
            <th>turbidity</th>
            <th>rcl</th>
            <th>Remarks</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let w of waterInfoList; index as i">
            <td>{{i}}</td>
            <td [ngClass]="{'bg-danger': 6.5 >= w.pH && w.pH >= '8.5' }">{{w.pH}}</td>
            <td [ngClass]="{'bg-danger': w.colour >= '15' }">{{w.colour}}</td>
            <td [ngClass]="{'bg-danger': w.turbidity >= '2' }">{{w.turbidity}}</td>
            <td [ngClass]="{'bg-danger': w.rcl >= '1' }">{{w.rcl}}</td>
            <td>
              <div
                *ngIf="6.5 >= w.pH && w.pH >= '8.5' || w.colour >= '15' || w.turbidity >= '2' || w.rcl >= '1'; else elseBlock">
                Highlighted parameters are not in the acceptable range</div>
              <ng-template #elseBlock>All parameters in acceptable range</ng-template>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>