<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="">National Water Supply and Drainage Board of Sri Lanka</a>
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/item-raw/" routerLinkActive="active">Item Raw</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/item-complete/" routerLinkActive="active">Item Complete</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/supplier/" routerLinkActive="active">Supplier</a>
      </li>

      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" ngbDropdownToggle id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" routerLinkActive="active"> Orders
        </a>
        <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/supplier-order/" routerLinkActive="active">Supplier Orders</a>
          <a class="dropdown-item" routerLink="/sales-order/" routerLinkActive="active">Sales Orders</a>
        </div>
      </li>
    </ul>


    <ul class="navbar-nav ml-auto topnav">

      <!-- <li class="nav-item">
        <a class="nav-link" href="#">Option</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Shop </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Event</a>
      </li> -->

      <li class="nav-item dropdown" *ngIf="username" ngbDropdown>
        <a class="nav-link dropdown-toggle" ngbDropdownToggle id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <b>{{username}}</b> - {{authority}}
        </a>
        <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Option</a>
          <a class="dropdown-item" href="#">Option2</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" *ngIf="!username">Login</a>
      </li>

    </ul>
  </div>

</nav>