<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" routerLink="#">
          <span data-feather="home"></span>
          Dashboard <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/locations/">
          <span data-feather="file"></span>
          Add Sampling Locations
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/manage-water-info/">
          <span data-feather="shopping-cart"></span>
          Add Water Quality Data
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/water-info/">
          <span data-feather="users"></span>
          View Map
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/chart-column/">
          <span data-feather="bar-chart-2"></span>
          Chart - Parameter
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/chart-column-vertical/">
          <span data-feather="bar-chart-2"></span>
          Chart - Water Quality
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/water-quality/">
          <span data-feather="bar-chart-2"></span>
          Evaluate Water Quality by City
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/water-quality-list/">
          <span data-feather="bar-chart-2"></span>
          Evaluate Parameters
        </a>
      </li>
      <li class="nav-item">
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>