<h3>Water Info List</h3>

<div class="viewDiv">
  <!-- <app-water-info-map></app-water-info-map> -->
  <app-water-info-time-viewer></app-water-info-time-viewer>
</div>

<!-- <div class="row">
  <div class="col-md-3">
    <table class="table table-bordered">
      <thead>
        <th>Id</th>
        <th>Location</th>
      </thead>
      <tbody>
        <tr *ngFor="let info of waterInfoList">
          <td>{{ info.id }}</td>
          <td>{{ info.location.name }}</td>
        </tr>

      </tbody>
    </table>
  </div>
  <div class="col-md">
    <app-water-info-time-viewer></app-water-info-time-viewer>
  </div>
</div> -->